<div class="pv4">
        <header class="w-100 tl-ns tc">
                <a class="f2-ns f3 dim link black" href="{{ .Permalink }}">{{ .Title }}</a>
        </header>

        <p class="w-100 tl-ns tc i pb3" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "January 2, 2006" }}</p>
        <p>{{ .Summary }}</p>

        <footer>
                {{ if .Site.Params.disqusShortname }}
                        <a class="dim link black ttu" href="{{ .Permalink }}#comments">
                                <i class="fa fa-comment"></i> Comments
                        </a>
                {{ end }}
                {{ $baseurl := .Site.BaseURL}}
                {{ range .Params.tags }}
                        <a class="fr dim link black ttu" href="{{ $baseurl }}/tags/{{.}}">{{ . }}&nbsp;&nbsp;</a>
                {{ end }}
                <i class="fr fa fa-tag">&nbsp;</i>
        </footer>
</div>
