<header class="tc f1-ns f2">{{ .Title }}</header>
<p class="tc"><time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " }}">{{ .Date.Format "January 2, 2006" }}</time></p>
<div class="center">
	{{ $baseurl := .Site.BaseURL}}
	<div class="tc center pv2">
		<i class="fa fa-tag"></i> {{ range .Params.tags }}
		<a class="dim link black ttu" href="{{ $baseurl }}/tags/{{.}}">{{ . }}&nbsp;</a> {{ end }}

	</div>
</div>
<section class="normal">
	{{ .Content }}
</section>
<hr>
<footer class="post-footer">
	<section class="f-1">
		{{ with .Site.Params.author }}
		<section class="author">
			<p>Words by {{ . }}</p>
		</section>
		{{ end }}


	</section>
	<section class="share tc">
		<span>
			Share:
			<a class="icon-twitter dim link black" href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
				<i class="fa fa-twitter"></i>
			</a>
			<a class="icon-facebook dim link black" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
				<i class="fa fa-facebook"></i>
			</a>
			<a class="icon-google-plus dim link black" href="https://plus.google.com/share?url={{ .Permalink }}"
			onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
				<i class="fa fa-google-plus"></i>
			</a>
		</span>
	</section>
	{{ partial "disqus.html" . }}
</footer>
