{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <nav class="tc">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Site.BaseURL}}{{.Paginator.Prev.URL}}" class="dim black link">
                        <i class="fa fa-angle-double-left"></i>&nbsp;Newer&nbsp;
                </a>
            {{ end }}

                Page {{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}
                {{ if .Paginator.HasNext }}
                        <a href="{{ .Site.BaseURL }}{{.Paginator.Next.URL}}" class="dim black link">
                                &nbsp;Older&nbsp;<i class="fa fa-angle-double-right"></i>
                        </a>
                {{ end }}
        </nav>
{{ end }}
